html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

body  {
    background-color: #cccccc;
		   /*background-color: #000000;*/
}


h1{
	margin-bottom: 7px;
}


h4{
	margin-top: 5px;
	font-style: italic;
}

#infoMap{
	height: 25%;
    width: 25%;
    border-style: solid;
    border-width: 1px;
}

#blackLightningDiv{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000000;
}



.Pickup:hover, .Dropoff:hover, .Legend:hover {
	cursor: pointer;
}

div.infoBox {
    position: absolute;
    text-align: left;
    width: 100px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
