html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

body  {
    /* wink-wink */
    background-color: #D3D3D3;
    font-family: "Montserrat";
}

/* Setting parameters for paragraphs and titles */
p {
	padding-left: 20%;
	padding-right: 20%;
	text-align: justify;
	padding-bottom: 5%;
}

h1  {
    padding-top:5%;
    text-align: center;
}

h3 {
	text-align: center;
}

h4 {
    padding-bottom: 5%;
    font-style: italic;
    text-align: center;
}

/* The OSM map */
#infoMap{
	height: 25%;
    width: 25%;
    border-style: solid;
    border-width: 1px;
		float: left;
}

/* The box diagram */
#stats{
	float: right;
	padding-top: 10px;
}

#sideBoard{
	padding-bottom: 30%;
	margin-left: 5%
}

/* Network of nodes shown according to occurrence */
#blackLightningDiv{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000000;
}

/* Brushing parameters */
.brush{
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

/* mouse cursors when hovering over clickable items */
.Pickup:hover, .Dropoff:hover, .Legend:hover {
	cursor: pointer;
}

/* The tooltips */
div.infoBox, div.pathInfoBox {
    position: absolute;
    text-align: center;
    width: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* when hovering over pickup and dropoffs */
div.infoBox {
    height: 30px;
}

/* when hovering over a path */
div.pathInfoBox {
    height: 20px;
}

footer{
	font-family: monospace;
	font-size: 10px;
	text-align: right;
}
